
.footer-container {
background: linear-gradient(to right, #006994, #00bcd4);
  color: white;
  padding: 0.75rem 0;
  border-radius: 0.5rem 0.5rem 0 0; 
  text-align: center;
}


.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-text {
  font-size: 1.125rem; 
  font-family: serif;
  font-style: italic;
  margin-top: 0.25rem; 
}

.footer-name {
  font-size: 1.25rem;
  font-family: serif;
  font-style: italic;
  margin-top: 0.25rem; 
}


.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem; 
  margin-top: 1rem; 
}


.social-link {
  transition: color 0.3s;
}

.social-link.instagram {
  color: #e1306c;
}

.social-link.instagram:hover {
  color: #db2777;
}

.social-link.linkedin {
  color: #b6159b;
}

.social-link.linkedin:hover {
  color: #25eb3f;
}

.social-link.email {
  color: #d32f2f;
}

.social-link.email:hover {
  color: #e57373;
}
